$color-blue: #10A9FF;
$color-turquoise: #22F5CB;
$color-grey-dark: #344859;
$color-sand-light: #F0EDE5;
$color-sand-dark: #DBCBBD;
$color-orange: #FF8577;
$color-blue-light: #BAE6F6;
$color-lime: #CFEED1;
$color-black: #131E28;
$color-pink: #FF2768;
$color-yellow: #FFE588;