#header {
    height: 8rem;
    width: 100%;
    background-color: $color-black;

    position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease-in-out;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10rem;
    
    z-index: 1000;

    @include respond(big-desktop) {
        padding: 0 20rem;
    }

    @include respond(tab-land) {
        padding: 0 6rem;
    }

    @include respond(tab-port) {
        padding: 0 3rem;
    }
    
   
}

.header {
    
    &__logo {
        width: auto;  

        // @include respond(tab-port) {
        //     width: 50%;
        // }
    }
}

.footer {
    display: flex;
    height: 6rem;
    background-color: $color-black;
   

    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; 

    gap: 2rem;
   

    &__text {
        text-align: center;
        font-size: 1.3rem;
    }
    
}

/* 기본 팝업 스타일 */
.cookie-popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* 링크 스타일 */
.cookie-popup a {
    color: #00c4ff;
    text-decoration: underline;
}

/* 버튼 스타일 */
.cookie-popup__button {
    background-color: #00c4ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.cookie-popup__button:hover {
    background-color: #008ecf;
}

/* 팝업 숨기기 */
.cookie-popup.hidden {
    display: none;
}




// .cookie-banner {
//     width: 40rem;
//     position: fixed; 
//     left: 0;
//     bottom: 0; 

//     margin: 5rem;
//     border-radius: 1.2rem;
    
//     background-color: rgba(#fff, 0.1); 
//     color: #fff; 
//     padding: 20px; 
//     text-align: center; 
//     z-index: 1000;
//     align-items: center;

//     @include respond(tab-port) {
//         position: fixed; 
//         bottom: 5%; 
//         left: 50%;
//         transform: translateX(-50%);
//         margin: 0;
//     }

//     &__text {
//         font-size: 1.4rem;
//         margin: 2rem 0;
//     }

//     display: flex;
//     flex-direction: column;
    
//     gap: 2rem;

//     &__link {
//         color: $color-pink;
//     }

//     &__button-wrap {
//         display: flex;
//         gap: 2rem;
//         justify-content: center;
//         align-items: center;
//     }
    
// }