$color-primary: #FF2768;
$color-light-blue: #05E0E9;
$color-deep-blue: #18ACE2;
$color-light-green: #CFEED1;
$color-yellow: #FFCE64;
$color-grey-light: #eeeeee;
$color-grey-dark: #333333;
$color-white: #ffffff;
$color-black: #1c1c1c;

$default-font-size: 1.4rem;